<!-- Created by : Chi Shing Chan - Student ID # 301268811 - Created on: 04 Jun, 2023 -->
<footer>
    <div id="copyright">
        <b>&copy;&nbsp;&nbsp; Copyright Chi Shing Chan - Student ID # 301268811 - COMP-229 - Web Application - Summer 2023 - Assignment 1</b><br><br>
    </div>
</footer>
</body>
</html>