<!-- Created by : Chi Shing Chan - Student ID # 301268811 - Created on: 04 Jun, 2023 -->
<div class="MyLogo">
    <a href="/"><img src="/images/MyLogo.PNG" alt="MyLogo"></a>
</div>
<div class="navbar">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/services">Services</a>
    <a href="/contact">Contact</a>
</div>
