<!-- Created by : Chi Shing Chan - Student ID # 301268811 - Created on: 04 Jun, 2023 -->
<%- include('partials/header') %>

    <%- include('partials/content', { topTitle: "" }) %>

    <h1 style="text-align:center;">Welcome to Tony Chan's portfolio site</h1>

        <p>
            I am a student in the Software Engineering Technican at Centennial College.
            Previously, I was a backend developer in Hong Kong.
        </p>

        <br>

        <h3>My Mission Statement</h3>
        <p> 
            As an experienced application developer, I am happy to leverage my technical skills 
            to create great software solutions that meet various business requirements and impress users. 
        </p>
  
    <a href="/about" class="homeButton">About Me</a>
    <a href="/projects" class="homeButton">My Projects</a>

<%- include('partials/footer') %>