<!-- Created by : Chi Shing Chan - Student ID # 301268811 - Created on: 04 Jun, 2023 -->
<%- include('partials/header') %>

    <%- include('partials/content', { topTitle: "Login Page" }) %>

    <div class="Container">
        <form action="/login" method="POST">
            <fieldset>
                <p>
                    <label for="username">User Name: </label>
                    <input id="username" name="username" size="20" type="text" required="required" tabindex="1">
                </p>
                <p>
                    <label for="password">Password: </label>
                    <input id="password" name="password" size="20" type="password" required="required" tabindex="3">
                </p>
            </fieldset>
            <p>
                <input name="submitButton" type="submit" value="Login" tabindex="5">
            </p>
        </form>
    </div>

<%- include('partials/footer') %>