<!-- Created by : Chi Shing Chan - Student ID # 301268811 - Created on: 04 Jun, 2023 -->
<%- include('partials/header') %>

    <%- include('partials/content', { topTitle: "My Projects" }) %>

    <div class="ProjectSummary">
        <div class="ProjectImage">
            <img src="/images/ProjectImage1.PNG" width="400" alt="Project Image 1">
        </div>
        <div class="ProjectDescription">
            <h3>Website for Real Estate Agent</h3>
            <p>
                My individual project to make a website for a real estate agent to list out his/her listing properties and let potential buyers contact him/her.
            </p>
            <p>
                Skills Required: HTML, CSS
            </p>
            <a href="http://studentweb.cencol.ca/cchan285/project/ProjectIndex.html" target="_blank" class="projectButton">Click me for details</a>
        </div>
    </div>
    <br>
    <div class="ProjectSummary">
        <div class="ProjectImage">
            <img src="/images/ProjectImage2.PNG" width="400" alt="Project Image 2">
        </div>
        <div class="ProjectDescription">
            <h3>Database design for an online pharmacy (Group Project)</h3>
            <p>
                My group project on the database design for a newly estiblished online pharmacy. 
                My role was designing the table schema and creating possible use case scenarios including how the designed 
                tables and records would be used properly.
            </p>
            <p>
                Skills Required: DB Schema Design, Oracle, SQL, ER Diagram
            </p>
            <a href="/files/ProjectFile2.pdf" target="_blank" class="projectButton">Click me for details</a>
        </div>
    </div>
    <br>
    <div class="ProjectSummary">
        <div class="ProjectImage">
            <img src="images/ProjectImage3.PNG" width="400" alt="Project Image 3">
        </div>
        <div class="ProjectDescription">
            <h3>Monster Bug Smasher</h3>
            <p>
                My individual project to make a challenging mini webpage game to catch the hopping monster, the more times you catch, the faster it hop.
            </p>
            <p>
                Skills Required: Javascript, HTML, CSS
            </p>
            <a href="http://studentweb.cencol.ca/cchan285/comp125/assignment3/assignment3.html" target="_blank" class="projectButton">Click me for details</a>
        </div>
    </div>
    <br>

<%- include('partials/footer') %>